version: "3"

services:
  db:
    container_name: sample_db
    image: postgres:11.4-alpine
    environment:
      - TZ=Asia/Tokyo
    volumes:
      - ./back/tmp/db:/var/lib/postgresql/data

  back: &back
    container_name: sample_back
    build: back/
    command: /bin/sh -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
    volumes:
      - ./back:/app
    depends_on:
      - db
    tty: true
    stdin_open: true
  
  spring:
    <<: *back
    container_name: sample_spring
    command: ["bundle", "exec", "spring", "server"]
    ports: []
    tty: false
    stdin_open: false

  front:
    container_name: sample_front
    build: front/
    command: yarn run dev
    volumes:
      - ./front:/app
    ports:
      - 8080:3000
      - 9229:9229
    depends_on:
      - back